.mainContainer {
  margin: auto;
  padding-top: 50px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* scrollbar-width: none; */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* minmax to handle over flow */
  gap: 1em;
  padding: 1em;
}
