.movieContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2);
}

.movieBanner {
  aspect-ratio: 2/3;
  width: 100%;
}

.movieName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
